.homepage{
    background-color: rgba(24, 53, 63, 0.133);
    height: 90vh;
    align-items: center;
}

h1{
    font-size: 40px;
    font-weight: 600;

}

.left-side{
    width: 40%;
}

.right-side{
    width: 59%;

}

.Register{
    margin-right: 40px;
}